[submodule "vendor/libjs"]
	path = vendor/libjs
	url = git@github.com:holepunchto/libjs.git
	shallow = true
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = git@github.com:libuv/libuv.git
	shallow = true
[submodule "vendor/libutf"]
	path = vendor/libutf
	url = git@github.com:holepunchto/libutf.git
	shallow = true
[submodule "vendor/quickjs"]
	path = vendor/quickjs
	url = git@github.com:holepunchto/quickjs.git
	shallow = true
